- data = cbind(x1, x2, N, n)
- write.table(data, file = "data_seeds.csv")

In [1]:
import pandas as pd

## Importer les donn√©es

In [4]:
data = pd.read_csv("DATA/data_seeds.csv", sep=' ')
data.tail()

    x1  x2   N   n
17   1   1  12   3
18   1   1  41  22
19   1   1  30  15
20   1   1  51  32
21   1   1   7   3